trunk/content-model/src/main/xsd/MetaModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  The MIT License
  
  Copyright (c) 2011 David Waltermire
  
  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:
  
  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.
  
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  THE SOFTWARE.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://scapdev.org/schema/meta-model/0.1"
  xmlns:tns="http://scapdev.org/schema/meta-model/0.1"
  targetNamespace="http://scapdev.org/schema/meta-model/0.1" elementFormDefault="qualified"
  attributeFormDefault="unqualified" version="0.1">

  <!-- ********************************************************************* -->
  <!-- * Meta Model                                                        * -->
  <!-- ********************************************************************* -->
  <xs:element name="meta-model">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="external-identifiers" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="external-identifier" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="schemas">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="schema" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:key name="SchemaKey">
      <xs:selector xpath=".//tns:schema"/>
      <xs:field xpath="@id"/>
    </xs:key>

    <xs:key name="EntityKey">
      <xs:selector xpath=".//tns:schema/tns:entities/tns:entity"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="EntityKeyRef" refer="EntityKey">
      <xs:selector xpath=".//tns:entity-ref"/>
      <xs:field xpath="@id-ref"/>
    </xs:keyref>

    <xs:key name="KeyKey">
      <xs:selector xpath=".//tns:schema/tns:entities/tns:entity/tns:key"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="KeyKeyRef" refer="KeyKey">
      <xs:selector xpath=".//tns:key-ref"/>
      <xs:field xpath="@id-ref"/>
    </xs:keyref>

    <xs:key name="FieldKey">
      <xs:selector xpath=".//tns:field"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="FieldKeyRef" refer="FieldKey">
      <xs:selector xpath=".//tns:field-ref"/>
      <xs:field xpath="@id-ref"/>
    </xs:keyref>
    <!-- TODO: write a schematron that enforces key/key-ref field/field-ref -->

    <xs:key name="RelationshipKey">
      <xs:selector xpath=".//tns:schema/tns:relationships/tns:relationship"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:unique name="KeyRefUnique">
      <xs:selector xpath=".//tns:key-ref"/>
      <xs:field xpath="@id"/>
    </xs:unique>
    <xs:unique name="FieldRefUnique">
      <xs:selector xpath=".//tns:field-ref"/>
      <xs:field xpath="@id"/>
    </xs:unique>

    <xs:key name="DocumentKey">
      <xs:selector xpath=".//tns:schema/tns:documents/tns:document"/>
      <xs:field xpath="@id"/>
    </xs:key>

    <xs:key name="ExternalIdentifierKey">
      <xs:selector xpath=".//tns:external-identifier"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="ExternalIdentifierKeyRef" refer="ExternalIdentifierKey">
      <xs:selector xpath=".//tns:external-identifier-ref"/>
      <xs:field xpath="@id-ref"/>
    </xs:keyref>

    <xs:key name="GeneratedKey">
      <xs:selector xpath=".//tns:generated-properties/tns:generated-property"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="GeneratedKeyRef" refer="GeneratedKey">
     <xs:selector xpath=".//tns:generated-property-refs/tns:generated-property-ref"/>
     <xs:field xpath="@id-ref"/>
    </xs:keyref>
  </xs:element>

  <!-- ********************************************************************* -->
  <!-- * Misc (common types, etc.)                                         * -->
  <!-- ********************************************************************* -->
  <xs:complexType name="SchemaComponentType">
    <xs:complexContent>
      <xs:extension base="ComponentType">
        <xs:sequence>
          <xs:element ref="schema-node"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ComponentType">
    <xs:attribute name="id" type="ComponentIdType" use="required"/>
  </xs:complexType>

  <xs:simpleType name="ComponentIdType">
    <xs:restriction base="xs:anyURI">
      <xs:pattern value="urn:scap-content:[a-z-]+:[a-z][a-z0-9.-_]+:[a-z][a-z0-9.\-_]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PatternType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- ********************************************************************* -->
  <!-- * External Identifier                                               * -->
  <!-- ********************************************************************* -->
  <xs:element name="external-identifier" type="ExternalIdentifierType"/>
  <xs:complexType name="ExternalIdentifierType">
    <xs:sequence>
      <xs:element name="pattern" type="PatternType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="ExternalIdentifierComponentIdType" use="required"/>
  </xs:complexType>

  <xs:simpleType name="ExternalIdentifierComponentIdType">
    <xs:restriction base="ComponentIdType">
      <xs:pattern value="urn:scap-content:external-identifier:.+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ********************************************************************* -->
  <!-- * Schema                                                            * -->
  <!-- ********************************************************************* -->
  <xs:element name="schema" type="SchemaType"/>
  <xs:complexType name="SchemaType">
    <xs:complexContent>
      <xs:extension base="SchemaSchemaComponentType">
        <xs:sequence>
          <xs:element name="documents" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="document" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="generated-properties" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="generated-property" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="entities" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="entity" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="relationships" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="relationship" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="namespace" type="xs:anyURI" use="required"/>
        <xs:attribute name="schemaLocation" type="xs:anyURI" use="required"/>
        <xs:attribute name="prefix" type="xs:NCName"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SchemaSchemaComponentType">
    <xs:complexContent>
      <xs:restriction base="SchemaComponentType">
        <xs:sequence>
          <xs:element ref="schema-node"/>
        </xs:sequence>
        <xs:attribute name="id" type="SchemaComponentIdType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="SchemaComponentIdType">
    <xs:restriction base="ComponentIdType">
      <xs:pattern value="urn:scap-content:schema:.+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ********************************************************************* -->
  <!-- * Generated Property                                                * -->
  <!-- ********************************************************************* -->
  <xs:element name="generated-property" type="GeneratedPropertyType"/>
  <xs:complexType name="GeneratedPropertyType">
    <xs:complexContent>
      <xs:restriction base="SchemaComponentType">
        <xs:sequence>
          <xs:element ref="schema-node"/>
        </xs:sequence>
        <xs:attribute name="id" type="GeneratedPropertyComponentIdType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="GeneratedPropertyComponentIdType">
    <xs:restriction base="ComponentIdType">
      <xs:pattern value="urn:scap-content:generated:.+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ********************************************************************* -->
  <!-- * Document                                                          * -->
  <!-- ********************************************************************* -->
  <xs:element name="document" type="DocumentType"/>
  <xs:complexType name="DocumentType">
    <xs:complexContent>
      <xs:extension base="DocumentSchemaComponentType">
        <xs:sequence>
          <xs:element ref="document-model"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DocumentSchemaComponentType">
    <xs:complexContent>
      <xs:restriction base="SchemaComponentType">
        <xs:sequence>
          <xs:element ref="schema-node"/>
        </xs:sequence>
        <xs:attribute name="id" type="DocumentComponentIdType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="DocumentComponentIdType">
    <xs:restriction base="ComponentIdType">
      <xs:pattern value="urn:scap-content:document:.+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="schema-node" type="SchemaReferenceType"/>
  <xs:complexType name="SchemaReferenceType">
    <xs:attribute name="node" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- ********************************************************************* -->
  <!-- * Document Model                                                    * -->
  <!-- ********************************************************************* -->
  <xs:element name="document-model" type="DocumentModelType" abstract="true"/>
  <xs:complexType name="DocumentModelType">
    <xs:sequence>
      <xs:element name="entity-containers" type="EntityContainersType" minOccurs="0">
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EntityContainersType">
    <xs:sequence>
      <xs:element name="entity-container" type="EntityContainerType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RequiredContainerDocumentModelType" abstract="true">
    <xs:complexContent>
      <xs:restriction base="DocumentModelType">
        <xs:sequence>
          <xs:element name="entity-containers" type="EntityContainersType"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  

  <xs:complexType name="EntityContainerType">
    <xs:complexContent>
      <xs:extension base="ContainerSchemaComponentType">
        <xs:sequence>
          <xs:element ref="entity-ref" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="ContainerSchemaComponentType">
    <xs:complexContent>
      <xs:restriction base="SchemaComponentType">
        <xs:sequence>
          <xs:element ref="schema-node"/>
        </xs:sequence>
        <xs:attribute name="id" type="ContainerComponentIdType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:simpleType name="ContainerComponentIdType">
    <xs:restriction base="ComponentIdType">
      <xs:pattern value="urn:scap-content:container:.+"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="entity-ref" type="EntityIdRefType"/>
  <xs:complexType name="EntityIdRefType">
    <xs:attribute name="id-ref" type="EntityComponentIdType" use="required"/>
  </xs:complexType>
  
  <!-- Generated Documents -->
  <xs:element name="generated-document-model" type="GeneratedDocumentModelType"
    substitutionGroup="document-model"/>
  <xs:complexType name="GeneratedDocumentModelType">
    <xs:complexContent>
      <xs:extension base="RequiredContainerDocumentModelType">
        <xs:sequence>
          <xs:element name="generated-property-refs" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="generated-property-ref" type="GeneratedPropertyRefType"
                  maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GeneratedPropertyRefType">
    <xs:sequence>
      <xs:element name="value" type="GeneratedValueType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id-ref" type="GeneratedPropertyComponentIdType" use="required"/>
  </xs:complexType>

  <xs:complexType name="GeneratedValueType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="GeneratedValueClassType" use="required"/>
        <xs:attribute name="format" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="GeneratedValueClassType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="STATIC"/>
      <xs:enumeration value="APP"/>
      <xs:enumeration value="TIME"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Static Documents -->
  <xs:element name="static-document-model" type="StaticDocumentModelType"
    substitutionGroup="document-model"/>
  <xs:complexType name="StaticDocumentModelType">
    <xs:complexContent>
      <xs:extension base="DocumentModelType">
        <xs:sequence>
          <xs:element ref="key"/>
          <xs:element ref="identifier-mapping" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- ********************************************************************** -->
  <!-- * Entity                                                             * -->
  <!-- ********************************************************************** -->
  <xs:element name="entity" type="EntityType">
    <xs:key name="KeyFieldKey">
      <xs:selector xpath="tns:key/tns:field"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="IdentifierFieldKeyRef" refer="KeyFieldKey">
      <xs:selector xpath=".//tns:field-value"/>
      <xs:field xpath="@id-ref"/>
    </xs:keyref>
    <!-- TODO: make sure fields are proeprly used using schematron -->
  </xs:element>

  <xs:complexType name="EntityType">
    <xs:complexContent>
      <xs:extension base="EntitySchemaComponentType">
        <xs:sequence>
          <xs:element ref="key"/>
          <xs:element ref="identifier-mapping" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="local-part" type="xs:NCName"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EntitySchemaComponentType">
    <xs:complexContent>
      <xs:restriction base="SchemaComponentType">
        <xs:sequence>
          <xs:element ref="schema-node"/>
        </xs:sequence>
        <xs:attribute name="id" type="EntityComponentIdType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="EntityComponentIdType">
    <xs:restriction base="ComponentIdType">
      <xs:pattern value="urn:scap-content:entity:.+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Keys -->
  <xs:element name="key" type="KeyType"/>
  <xs:complexType name="KeyType">
    <xs:complexContent>
      <xs:extension base="KeyComponentType">
        <xs:sequence>
          <xs:element name="field" type="FieldType" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KeyComponentType">
    <xs:complexContent>
      <xs:restriction base="ComponentType">
        <xs:attribute name="id" type="KeyComponentIdType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="KeyComponentIdType">
    <xs:restriction base="ComponentIdType">
      <xs:pattern value="urn:scap-content:key:.+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Key Fields -->
  <xs:complexType name="FieldType">
    <xs:complexContent>
      <xs:extension base="FieldSchemaComponentType"> </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FieldSchemaComponentType">
    <xs:complexContent>
      <xs:restriction base="SchemaComponentType">
        <xs:sequence>
          <xs:element ref="schema-node"/>
        </xs:sequence>
        <xs:attribute name="id" type="FieldComponentIdType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="FieldComponentIdType">
    <xs:restriction base="ComponentIdType">
      <xs:pattern value="urn:scap-content:field:.+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- identifier mapping -->
  <xs:element name="identifier-mapping" type="IdentifierMappingType"/>
  <xs:complexType name="IdentifierMappingType">
    <xs:sequence>
      <xs:element name="pattern-operation" type="PatternOperationType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PatternOperationType">
    <xs:sequence>
      <xs:element name="field-value" type="KeyFieldMappingType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="pattern" type="PatternType" use="required"/>
  </xs:complexType>

  <xs:complexType name="KeyFieldMappingType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id-ref" type="FieldComponentIdType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ********************************************************************** -->
  <!-- * Relationship                                                       * -->
  <!-- ********************************************************************** -->
  <xs:element name="relationship" type="RelationshipType" abstract="true"/>
  <xs:complexType name="RelationshipType" abstract="true">
    <xs:complexContent>
      <xs:restriction base="RelationshipSchemaComponentType">
        <xs:sequence>
          <xs:element name="schema-node" type="RelationshipSchemaReferenceType"/>
        </xs:sequence>
        <xs:attribute name="id" type="RelationshipComponentIdType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RelationshipSchemaComponentType">
    <xs:complexContent>
      <xs:extension base="ComponentType">
        <xs:sequence>
          <xs:element name="schema-node" type="RelationshipSchemaReferenceType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RelationshipSchemaReferenceType">
    <xs:complexContent>
      <xs:extension base="SchemaReferenceType">
        <xs:attribute name="location" type="SchemaNodeLocationType" default="TYPE"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="SchemaNodeLocationType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="PROPERTY"/>
      <xs:enumeration value="TYPE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RelationshipComponentIdType">
    <xs:restriction base="ComponentIdType">
      <xs:pattern value="urn:scap-content:relationship:.+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Key Refs -->
  <xs:complexType name="KeyRefType">
    <xs:complexContent>
      <xs:extension base="KeyRefComponentType">
        <xs:sequence>
          <xs:element name="field-ref" type="FieldRefType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id-ref" type="KeyComponentIdType" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KeyRefComponentType">
    <xs:complexContent>
      <xs:restriction base="ComponentType">
        <xs:attribute name="id" type="KeyRefComponentIdType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="KeyRefComponentIdType">
    <xs:restriction base="ComponentIdType">
      <xs:pattern value="urn:scap-content:key-ref:.+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Key Fields -->
  <xs:complexType name="FieldRefType">
    <xs:complexContent>
      <xs:extension base="FieldRefSchemaComponentType">
        <xs:attribute name="id-ref" type="FieldComponentIdType" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FieldRefSchemaComponentType">
    <xs:complexContent>
      <xs:restriction base="SchemaComponentType">
        <xs:sequence>
          <xs:element ref="schema-node"/>
        </xs:sequence>
        <xs:attribute name="id" type="FieldRefComponentIdType" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="FieldRefComponentIdType">
    <xs:restriction base="ComponentIdType">
      <xs:pattern value="urn:scap-content:field-ref:.+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Local Relationship -->
  <xs:element name="local-relationship" type="LocalRelationshipType"
    substitutionGroup="relationship"/>
  <xs:complexType name="LocalRelationshipType">
    <xs:complexContent>
      <xs:extension base="RelationshipType">
        <xs:sequence>
          <xs:element name="key-ref" type="KeyRefType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- External Relationship -->
  <!-- TODO: implement -->
  <xs:element name="external-relationship" type="ExternalRelationshipType"
    substitutionGroup="relationship"/>
  <xs:complexType name="ExternalRelationshipType" abstract="true">
    <xs:complexContent>
      <xs:extension base="RelationshipType"> </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Indirect Relationship -->
  <xs:element name="indirect-relationship" type="IndirectRelationshipType"
    substitutionGroup="relationship"/>
  <xs:complexType name="IndirectRelationshipType">
    <xs:complexContent>
      <xs:extension base="RelationshipType">
        <xs:sequence>
          <xs:element name="qualifier-node" type="SchemaReferenceType" minOccurs="0"/>
          <xs:element name="value-node" type="SchemaReferenceType"/>
          <xs:element name="external-identifier-ref" type="ExternalIdentifierReferenceType"
            maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ExternalIdentifierReferenceType">
    <!-- TODO: write a schematron rule requiring that qualifier-value is specified if qualifier is. -->
    <xs:attribute name="id-ref" type="ExternalIdentifierComponentIdType" use="required"/>
    <xs:attribute name="qualifier-value" type="xs:anyURI"/>
  </xs:complexType>
</xs:schema>
